[Desktop Entry]
Name=Wikiwallpaper
Comment=Wikiwallpaper - random wikipedia ariticles on your desktop
Encoding=UTF-8

Type=Service
Icon=globe

X-KDE-ServiceTypes=Plasma/Wallpaper
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=com.github.plaets.wikiwallpaper-plasma5
X-KDE-PluginInfo-Email=plates.jsnm@gmail.com
X-KDE-PluginInfo-Website=https://github.com/plaets/wikiwallpaper-plasma5
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Version=0.5
